<html>
  <head>
  </head>

  <body>
    <div>
      <div class="container mt-3" style="padding-left: 2%">
        <b class="col-3">Select Range of Images : </b> 
        <select (change)="changeRange($any($event.target).value)">
          <option value="0">-select range-</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <span style="margin-left: 5%;">
          <b> No. of Selected Images: </b>{{countSelectedImg}}
        </span>
      </div>
    
      <div class="container mt-4">
        <div class="row row-cols-{{range}} justify-content-md-center">
            <div class="col myImg" id="{{this.img.id}}" *ngFor="let img of myImg" (click)="changeActive(this.img.id, this.img.title)"> 
                <div style="height: 15px;"><p *ngIf="this.img.cnt!=0">{{img.cnt}}</p></div>
                <h4>{{img.title}}</h4>
                <div style="border: 2px;"><img src="{{img.image}}" alt="Loading..." width="40%" height="30%"></div>
                <p style="overflow-x:hidden">{{img.description}}</p>
            </div>
        </div>
      </div>    
    </div>

  </body>
</html>
